#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: repeat(3,auto);
  gap:1rem;
  width: 90vw;
  height: 90vh;
}


.Metrics {
  display : grid;
  grid-template-rows: repeat(2,auto);
  grid-template-columns: repeat(3,auto);
  gap:1rem;
  grid-row:1/2;
  grid-column:1/4;
  align-self: center;
}

.TickerLabel {
  font-size: 15px;
  grid-row:1/2;
  padding: 0.2rem;
  text-align: center;
}


.PeriodSelect {
  font-size: 15px;
  grid-row:1/2;
  text-align: center;

}

.TimeSelect {
  font-size: 15px;
  grid-row:1/2;
  text-align: center;

}

.StockTickersData {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  border-radius: 22px;
  font-size: 15px;
  text-align: left;
  grid-row: 2/3;
  grid-column:1/4;
}

.ChartContainers {
  grid-row: 2/4;
  grid-column: 1 / 2;
  gap: 0.3rem; 
  width: 100%; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;;
}

.CandleChart {
  height: 500px;
  width: 100%; 
  border-radius: 12px;
  overflow: hidden;
}

.RsiChart {
  height: 200px;
  width: 100%; 
  border-radius: 12px;
  overflow: hidden;

}

.VolumeChart {
  height: 200px;
  width: 100%;;
  border-radius: 12px;
  overflow: hidden;

}



.histogram-container {
  grid-row: 2 / 3;   
  grid-column: 2 / 4; 
  width: 100%; 
  height: 100%; 
  min-height: 100px; 
  position: relative;
  display: flex;     
  flex-direction: column;
}

.histogram-chart {
  flex: 1; 
  width: 100%; 
  border-radius: 12px;
  overflow: hidden;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 2rem;
  border-radius: 12px;
  z-index: 1000;
}